:root {
    --background: #3C424A;
    --background-footer: #343A40;
    --destaque: #E55C8A;
    --textos: #E1EAF2;
    --texto-nao-selecionao: #767d8a ;
}

body {
    font-family: Arial, sans-serif;
    color: var(--textos);
    background-color: var(--background);
    width: 65%;
    margin: 0 auto;
}

header {
    
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid var(--background-footer);
}


nav ul {
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style: none;
    color: var(--texto-nao-selecionao);

    a {
        text-decoration: none;
        color: inherit;
    }

    a:hover{
        color: var(--textos);
        text-decoration: underline var(--destaque);

    }

    li a:active{
        color: red;
        
    }
}

main {
    padding: 20px;
}

footer {
    background-color: var(--background-footer);
    padding: 20px;
    text-align: center;

    p a {
        text-decoration:underline;
        color: inherit; 
    }
}

#taskList {
    margin-top: 20px;
}